@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: 224 0% 95%;
  --foreground: 224 0% 0%;
  --card: 224 0% 90%;
  --card-foreground: 224 0% 10%;
  --popover: 224 0% 95%;
  --popover-foreground: 224 95% 0%;
  --primary: 224 0% 16%;
  --primary-foreground: 0 0% 100%;
  --secondary: 224 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 186 10% 85%;
  --muted-foreground: 224 0% 35%;
  --accent: 186 10% 80%;
  --accent-foreground: 224 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 224 0% 90%;
  --border: 224 20% 50%;
  --input: 224 20% 18%;
  --ring: 224 0% 16%;
  --radius: 0.5rem;
}
.dark {
  /* --background: 0 0% 16%; */
  --background: 224 10% 5%;
  --foreground: 224 0% 90%;
  --card: 224 0% 0%;
  --card-foreground: 224 0% 90%;
  --popover: 224 10% 5%;
  --popover-foreground: 224 0% 90%;
  --primary: 224 0% 16%;
  --primary-foreground: 0 0% 100%;
  --secondary: 224 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 186 10% 15%;
  --muted-foreground: 224 0% 60%;
  --accent: 186 10% 15%;
  --accent-foreground: 224 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 224 0% 90%;
  --border: 224 20% 18%;
  --input: 224 20% 18%;
  --ring: 224 0% 16%;
  --radius: 0.5rem;
}

:root {
  --background: 260 32% 95%;
  --foreground: 260 5% 0%;
  --card: 260 32% 90%;
  --card-foreground: 260 5% 10%;
  --popover: 260 32% 95%;
  --popover-foreground: 260 95% 0%;
  --primary: 260 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 260 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 222 30% 85%;
  --muted-foreground: 260 5% 35%;
  --accent: 222 30% 80%;
  --accent-foreground: 260 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 260 5% 90%;
  --border: 260 30% 50%;
  --input: 260 30% 18%;
  --ring: 260 100% 50%;
  --radius: 0.5rem;
}
.dark {
  --background: 260 32% 5%;
  --foreground: 260 5% 90%;
  --card: 260 32% 0%;
  --card-foreground: 260 5% 90%;
  --popover: 260 32% 5%;
  --popover-foreground: 260 5% 90%;
  --primary: 260 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 260 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 222 30% 15%;
  --muted-foreground: 260 5% 60%;
  --accent: 222 30% 15%;
  --accent-foreground: 260 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 260 5% 90%;
  --border: 260 30% 18%;
  --input: 260 30% 18%;
  --ring: 260 100% 50%;
  --radius: 0.5rem;
}

.TreeNode {
  display: flex;
  align-items: center;
}
.ResizeHandleOuter {
  flex: 0 0 1.5em;
  position: relative;
  outline: none;

  --background-color: transparent;
}
.ResizeHandleOuter[data-resize-handle-active] {
  --background-color: var(--color-solid-resize-bar-handle);
}

.ResizeHandleInner {
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border-radius: 0.25em;
  background-color: var(--background-color);
  transition: background-color 0.2s linear;
}

.Icon {
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
}

.monaco-mouse-cursor-text-hidden {
  cursor: none;
}

/* Apply custom scrollbar styles */
/* For Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #292929;
  border: 1px solid #7a7a7a;
}

body {
  overflow: hidden;
}
/* 292929 */
